.gradle
build/
temp/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea
*.iml
out/
!**/src/main/**/out/
!**/src/test/**/out/

### JPA Buddy ###
.jpb

### H2 ###
*.db
